@media screen and (max-width: 810px) {
    #greeting {
        margin: 40% auto;
    }

    #question-area {
        margin: 40% auto;
    }

    #results-area {
        width: 90%;
        margin: 25% auto;
    }
}

@media screen and (max-width: 800px) {
    #greeting {
        margin: 50% auto;
    }

    #question-area {
        margin: 50% auto;
    }

    #results-area {
        width: 90%;
        margin: 50% auto;
    }
}

@media screen and (max-width: 768px) {
    #greeting {
        margin: 30% auto;
    }

    #question-area {
        margin: 30% auto;
    }

    #results-area {
        width: 90%;
        margin: 30% auto;
    }
}

@media screen and (max-width: 414px) {
    #greeting {
        margin: 60% auto;
    }

    #question-area {
        margin: 34% auto;
    }

    #results-area {
        width: 90%;
        margin: 60% auto;
    }
}

@media screen and (max-width: 393px) {
    #greeting {
        margin: 50% auto;
    }
}

@media screen and (max-width: 360px) {
    #results-area {
        margin: 50% auto;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
    #greeting {
        margin: 25% auto;
    }

    #question-area {
        margin: 25% auto;
    }

    #results-area {
        margin: 21% auto;
    }
}