:root {
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-42: 2.75rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --hp-gold: #D3A625;
  --gryffindor-red: #AE0001;
  --slytherin-green: #2A623D;
  --slytherin-silver: #AAAAAA;
  --ravenclaw-blue: #222F5B;
  --ravenclaw-gold: #946B2D;
  --hufflepuff-yellow: #FFD800;
  --hufflepuff-brown: #DE9245;
}

/* Declare Potterfont font */
@font-face { font-family: Potterfont; src: url('../assets/font/HarryP-MVZ6w.ttf'); }

body {
  font-family: Potterfont, serif;
  margin: 0;
  /* overflow-y: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

#app {
  display: flex;
  justify-content: center;
}

#greeting {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 10% auto;
  background: rgba(0, 0, 0, 0.7);
  color: var(--hp-gold);
  font-size: var(--size-24);
  width: 75%;
  letter-spacing: var(--size-4);
  border-radius: 24px;
  padding: var(--size-42);
}

#greeting h1 {
  font-size: var(--size-36);
}

#greeting h2 {
  font-size: var(--size-32);
}

button {
  font-family: 'Bellota', cursive;
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: var(--size-12) var(--size-24);
  font-size: var(--size-24);
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 200ms;
}

#question-area {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: var(--hp-gold);
  font-size: var(--size-24);
  width: 75%;
  letter-spacing: var(--size-4);
  border-radius: 24px;
  padding: var(--size-40);
  margin: 4% auto;
}

.question header {
  font-size: var(--size-36);
}

.question header:first-child {
  color: silver;
}

#options-area {
  display: flex;
  flex-direction: column;
}

#options-area button {
  background: transparent;
  border: 2px solid white;
  margin: var(--size-8) 0 var(--size-8) 0;
  color: white;
  padding: var(--size-12);
  font-size: var(--size-20);
  letter-spacing: var(--size-4);
  border-radius: 16px;
}

#options-area button:hover {
  background: black;
}

.animate__jackInTheBox {
  animation-delay: 3s;
}

#results-area {
  width: 75%;
  display: none;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  color: white;
  text-align: center;
  padding: var(--size-16);
  border-radius: var(--size-16);
}

#results-area header {
  font-size: var(--size-36);
}

#results-info-container {
  margin-top: var(--size-16);
}

#house-logo-container {
  width: 100%;
  max-width: 100%;
}

#house-logo-container img {
  width: 40%;
}

#results-area p {
  text-transform: uppercase;
  color: var(--hp-gold);
  font-size: 32px;
}

#retake-quiz-btn {
  display: none;
}